<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gloock&display=swap" rel="stylesheet">
    <title>Australia - The Dig</title>
</head>

<body>

    <h1 id="title">Songs From Australia</h1>

<%
// Create a new variable to store the sorted list of songs
// Iterate over the sorted list and display the songs in alphabetical order
const sortedSongs = video.filter(song => song.continent.toLowerCase() === 'australia').sort((a, b) => a.songName.localeCompare(b.songName));

for (let i = 0; i < sortedSongs.length; i++) {
%>
<div id="product-box">
    <a href="/thedig/<%=sortedSongs[i].id%>" id="songList">
      <%=sortedSongs[i].songName%> - <%=sortedSongs[i].artist%>
    </a>
    <br>
  </div>
<% } %>

<br>
<div id="bottomNavContainer">
    <a href="/thedig" id="bottomNav">Home</a>
    <a href="/thedig/new" id="bottomNav">Add New Song</a>
    <img src="https://www.animatedimages.org/data/media/102/animated-music-image-0354.gif" border="0" alt="animated-music-image-0354" id="gif-1" />
        <img src="https://www.animatedimages.org/data/media/102/animated-music-image-0354.gif" border="0" alt="animated-music-image-0354" id="gif-2" />
</div>



</body>

</html>