<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gloock&display=swap" rel="stylesheet">
    <title>Europe - The Dig</title>
</head>

<body>

    <h1>Europe</h1>


    <%
    // Create a new variable to store the sorted list of songs
    const sortedSongs = video.filter(song => song.continent.toLowerCase() === 'europe').sort((a, b) => a.songName.localeCompare(b.songName));
    
    // Iterate over the sorted list and display the songs in alphabetical order
    for (let i = 0; i < sortedSongs.length; i++) {
    %>
      <div id="product-box">
        <a href="/thedig/<%=sortedSongs[i].id%>">
          <%=sortedSongs[i].songName%>
        </a>
        <br>
      </div>
    <% } %>
    
    <br>
    <a href="/thedig" id="">Home</a>
    <a href="/thedig/new" id="addSong">Add New Song</a>
    


</body>

</html>