<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gloock&display=swap"
      rel="stylesheet"
    />
    <title>The Dig Home</title>
  </head>

  <body>
    <a href="/thedig">
      <h1 id="title">The DiG</h1>
    </a>

    <div id="continentLinks">
      <a href="/thedig/africa" id="continents">Africa</a>
      <a href="/thedig/asia" id="continents">Asia</a>
      <a href="/thedig/australia" id="continents">Australia</a>
      <a href="/thedig/europe" id="continents">Europe</a>
      <a href="/thedig/northamerica" id="continents">North America</a>
      <a href="/thedig/southamerica" id="continents">South America</a>

      <div id="bottomNavContainer">
        <a href="/thedig/new" id="bottomNav">Add New Song</a>
        <img src="https://www.animatedimages.org/data/media/102/animated-music-image-0354.gif" border="0" alt="animated-music-image-0354" id="gif-1" />
        <img src="https://www.animatedimages.org/data/media/102/animated-music-image-0354.gif" border="0" alt="animated-music-image-0354" id="gif-2" />
      </div>
    </div>
  </body>
</html>
