body {
  background: rgb(63, 36, 36);
  color: wheat;
  text-align: center;
  font-family: 'Gloock', serif;
  

}

#infoBox {
  color: wheat;
}

.buttonStyle{
    text-decoration: none;
    margin: 2px;
}

.button-container form {
    display: inline-block;
    margin-right: 10px;
  }
  

a{
    color: wheat;
}



#testtext {
    position: relative;
  }
  
  #testbox {
    background-color: rgb(0, 0, 0);
    position: relative;
    top: 50px;
    width: 200px;
    height: 200px;
    left: 50%;
    margin-left: -100px; /* Half the width of the element */
  }
    
  #addSong {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 2em;
    
  }

  #continents{
    display: block;
    margin-top: 10px;
    text-decoration: none;
    font-size: 30px;
  }

  #title{
    font-size: 50px;

  }

  #continentLinks{
    margin-top: 6em;
    
    
  }