body {
  margin-top: 50px;
  background: #3f2424;
  color: wheat;
  text-align: center;
  font-family: "Gloock", serif;
}

#infoBox {
  color: #f5deb3;
}

.buttonStyle {
  text-decoration: none;
  margin: 2px;
}

.button-container form {
  display: inline-block;
  margin-right: 10px;
}

a {
  color: wheat;
  text-decoration: none;
}

#testtext {
  position: relative;
}

#testbox {
  background-color: rgb(0, 0, 0);
  position: relative;
  top: 50px;
  width: 200px;
  height: 200px;
  left: 50%;
  margin-left: -100px; /* Half the width of the element */
}

#bottomNavContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: wheat;
  padding-bottom: 20px;
  padding-top: 20px;
}

#bottomNav {
  color: rgb(63, 36, 36);
  margin: 0 5px; /* add some spacing between the links */
  text-decoration: none;
}

#continents {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  font-size: 30px;
}

#title {
  font-size: 50px;
}

#continentLinks {
  margin-top: 6em;
}

#product-box {
  margin-top: 10px;
}

#addSong {
  margin-top: 15px;
}

#new-box {
  margin-top: 5px;
  font-size: 20px;
}

#songList {
  margin: 0;
  font-size: 20px;
  text-decoration: none;
}
#songList:hover {
  color: green;
}

#edit-box{
  padding-top: 50px;
  font-size: 22px;
  line-height: 100% ;
}

#gif-1{
  position: absolute;
  left: 3px;
  width: 10%;
}
#gif-2{
  position: absolute;
  right: 3px;
  width: 10%;
}

#title-2{
  font-size: 75px;
  margin-top: 15%;
}